* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  padding: 1em;
  position: fixed;
  overscroll-behavior: contain;
}

.title,
.text {
  color: rgba(255, 255, 255, 0.8);
}

.text {
  line-height: 2rem;
}

.search {
  background-color: #4d4d4d;
  padding: 1em;
  border-radius: 3px;
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 1em;
}

.search__input {
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  width: 100%;
  background-color: #b2b2b2;
}
